
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <header class="intro-header" style="background-image: url(''@ViewBag.sobre.caminhoImg')">@*/thiagodesenv/web/blog/img/about-bg.jpg*@
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>@ViewBag.sobre.titulo</h1>
                    <hr class="small">
                    <span class="subheading">@ViewBag.sobre.subTitulo</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>@ViewBag.sobre.texto</p>
            <p>Possuo experiência como Desenvolvedor DOTNET desde 09/2014, quando comecei trabalhar na Empresa NovaTela Solutions.</p>
            <p>Estou cursando ensino superior em analise e desenvolvimento de sistemas, na instituição de ensino SENAC. </p>
        </div>
    </div>
</div>

<hr>