<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.0.0" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="EntityFramework.SqlMigrations" version="0.6.0.2" targetFramework="net40" />
  <package id="jQuery" version="1.10.2" targetFramework="net40" />
  <package id="log4net" version="2.0.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net40" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.6.2" targetFramework="net40" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net40" />
  <package id="MySql.Data.Entity" version="6.7.9" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.MVC3" version="3.0.0.6" targetFramework="net40" />
  <package id="Ninject.Web.Common" version="3.0.0.7" targetFramework="net40" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net40" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net40" />
  <package id="WebActivator" version="1.5" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net40" />
</packages>